.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 6rem 5rem;

  background-color: var(--gray-50);
}

.experiences span {
  color: var(--gray-600);
  margin-top: -2rem;
}

.experiences__card {
  display: flex;
  flex-direction: column;

  gap: 1.25rem;

  max-width: 56rem;
  border-radius: 12px;

  padding: 2rem;
  background-color: var(--gray-default);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.experiences__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.experiences__header-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.experiences__header-image {
  max-width: 2.5rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experiences__header-image img {
  width: 90%;
  height: auto;
}

.experiences__header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.experiences__content p {
  line-height: 1.75rem;
}

.experiences__content p:nth-child(n + 2) {
  margin-left: 1rem;
}
