.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.header p {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 36px;

  margin: 0;
  text-align: center;
}

.header__nav-desktop,
.header__nav-mobile {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* .header button:first-of-type {
  display: none;
} */

.header ul {
  display: flex;
  gap: 1.5rem;
}

.actions {
  all: unset;
  display: flex;
  gap: 1rem;
  line-height: 0;
  text-align: center;
}

.header__nav-mobile {
  display: none;
}

@media ((max-width: 1024px) and  (min-width: 768px)) {
  .header {
    padding: 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .header button:first-of-type {
    display: flex;
  }

  .header__nav-desktop {
    display: none;
  }

  .header__nav-mobile {
    width: 50vw;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;

    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 2;

    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--gray-default);
  }

  .header button {
    align-self: center;
  }

  .header ul {
    width: 100%;
    flex-direction: column;

    border-top: 1px solid var(--gray-100);
    border-bottom: 1px solid var(--gray-100);

    padding: 1.5rem 0.5rem;
    margin: 0;
  }
}

@media (max-width: 678px) {
  .header {
    padding: 1rem;
  }
}
