.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.header p {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 36px;

  margin: 0;
  text-align: center;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header ul {
  display: flex;
  gap: 1.5rem;
}

.actions {
  all: unset;
  display: flex;
  gap: 1rem;
  line-height: 0;
  text-align: center;
}

@media ((max-width: 1024px) and  (min-width: 768px)) {
  .header {
    padding: 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
  .header nav {
    display: none;
  }
}

@media (max-width: 678px) {
  .header {
    padding: 1rem;
  }
}
