.intro {
  display: flex;

  padding: 6rem 5rem;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.intro__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro__infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro__infos li {
  display: flex;
  gap: 0.5rem;
}

.intro__infos li:nth-child(2) svg {
  padding: 0.25rem;
}

.intro__actions {
  display: flex;
  gap: 0.25rem;
}

.intro__profile {
  /* height: auto;
  min-width: 20rem; */
  width: 100%;
  position: relative;
}

.intro__pic {
  width: 50%;
  padding: 0.5rem;

  background-color: var(--gray-default);

  position: relative;
  top: 0;
  left: 12rem;
  z-index: 2;
}

.intro__pic img {
  width: 100%; /* Make the image scale to fit the container */
  height: auto; /* Maintain the aspect ratio */
}

.intro__background {
  width: 50%;
  height: 280px;

  position: absolute;
  top: 2.5rem;
  right: 0;

  z-index: 0;

  padding: 0.5rem;
  background-color: var(--gray-default);

  background-color: var(--gray-200);
}

/* 0.04rem */
