.intro {
  display: flex;

  padding: 6rem 5rem;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.intro__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro__content span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.intro__content img {
  height: 4rem;
  width: 4rem;
}

.intro__infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro__infos li {
  display: flex;
  gap: 0.5rem;
}

.intro__infos li:nth-child(2) svg {
  padding: 0.25rem;
}

.intro__actions {
  display: flex;
  gap: 0.25rem;
}

.intro__profile {
  width: 90%;
  min-width: 18rem;
  position: relative;
}

.intro__background {
  width: 20vw;
  height: 20vw;

  max-width: 17rem;
  max-height: 17rem;

  position: absolute;
  top: 2.5rem;
  right: 70%;
  left: 30%;

  z-index: 0;

  padding: 0.5rem;

  background-color: var(--gray-200);
}

.intro__pic {
  width: 90%;

  max-width: 17.5rem;

  position: absolute;
  top: -2.5rem;
  right: 3.5rem;
  z-index: 1;
  padding: 0.5rem;

  background-color: var(--gray-default);
}

.intro__pic img {
  width: 100%;
  height: auto;
}

@media ((max-width: 1024px) and  (min-width: 768px)) {
  .intro {
    padding: 4rem 3rem;
  }

  .intro__container {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
  }

  .intro__profile {
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__background {
    all: unset;
    max-width: 25rem;
    margin-top: 2rem;

    padding: 0 1rem 0rem 1rem;

    background-color: var(--gray-200);
  }

  .intro__pic {
    all: unset;
    position: relative;
    top: -2rem;
  }

  .intro__pic img {
    width: fit-content;
    box-sizing: border-box;

    border: 0.5rem solid var(--gray-default);
  }

  .intro__content span {
    gap: 0.5rem;
  }

  .intro__content img {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 678px) {
  .intro {
    padding: 4rem 1rem;
  }

  .intro__content img {
    height: 2rem;
    width: 2rem;
  }
}
