.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  padding: 6rem 5rem;
}

.skills span {
  color: var(--gray-600);
  margin-top: -2rem;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 2rem 5rem;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray-600);
}
